td.BaseLabel {
    vertical-align: middle;
}

a:link {
    font-size: 12px;
    color: #A5A5A5;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:active {
    font-size: 12px;
    color: #A5A5A5;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:visited {
    font-size: 12px;
    color: #A5A5A5;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:hover {
    font-size: 12px;
    color: #707070;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    font-size: 12px;
    color: #FFFFFF;
    background-color: #252525;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    background: #252525;
    background-color: #252525;
    color: #FF0000;
    font-size: 24px;
    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
}

input {
    Background: #252525;
    Color: #FFFFFF;
    Font: 12px Georgia, serif;
    BORDER-TOP: #1c1c1c 2px solid;
    BORDER-BOTTOM: #000000 1px solid;
    BORDER-LEFT: #1c1c1c 2px solid;
    BORDER-RIGHT: #000000 1px solid;
}

textarea {
    color: #FFFFFF;
    background: #252525;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top: #000000 1px solid;
    border-bottom: #707070 1px solid;
    border-left: #000000 1px solid;
    border-right: #707070 1px solid;
}

table {
    font-size: 12px;
    color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    height: 21px;
}

/* Lighter dark grey color indentation */
td.lite {
    background: #242426;
    background-color: #252525;
    color: #FFFFFF;
    font-size: 12px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top: #000000 1px solid;
    border-bottom: #707070 1px solid;
    border-left: #000000 1px solid;
    border-right: #707070 1px solid;
}

/* Darker grey color indentation  */
td.dark {
    background: #242426;
    background-color: #252525;
    color: #FFFFFF;
    font-size: 12px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top: #707070 1px solid;
    border-bottom: #000000 1px solid;
    border-left: #707070 1px solid;
    border-right: #000000 1px solid;
}

td.bevel {
    background: #252525;
    background-color: #252525;
    color: #FFFFFF;
    font-size: 12px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top: #707070 1px solid;
    border-bottom: #000000 1px solid;
    border-left: #707070 1px solid;
    border-right: #000000 1px solid;
}

hr {
    border-top: #707070 1px solid;
    border-bottom: #000000 1px solid;
    color: transparent;
    background-color: transparent;
    height: 1px;
    width: 98%;
}

input, textarea, select {
    border-style: solid;
    border-width: 1px;
    background: #252525;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #707070;
    border-color: inherit;
    margin-left: 0px;
    width: 118px;
}

    input.post, textarea.post, select {
        background-color: #252525;
        color: #FFFFFF;
    }

    input.button {
        border-style: solid;
        border-width: 1px;
        background: #252525;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #FFFFFF;
        border-color: inherit;
        height: 23px;
    }

    input.mainoption {
        background: #252525;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #FFFFFF;
        border-color: #707070 #000000 #000000 #707070;
        border: 1px solid;
    }

    input.liteoption {
        background: #252525;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #FFFFFF;
        border-color: #707070 #000000 #000000 #707070;
        border: 1px solid;
    }
